* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
    padding: 16px 120px 16px 120px;
}

nav .links{
    display: flex;
    gap: 32px;
    list-style: none;
   
}

nav .links a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.btn{
    background-color: #469165;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 12px 16px;
    border-radius: 10px;
    border: none;
}

.early-access {
    display: inline-flex;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid #ffffff81;
    padding: 8px 12px;
    border-radius: 1000px;
    font-size: 14px;
    margin-bottom: 24px;
    color: #30b868;
}

.early-access img{
    margin-right: 6px;
}
#banner{
    background-image: url(./assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    min-height: 600px;
    max-height: 1363px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    /**padding: 80px 20px;**/
}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    

.banner-content{
    padding: 16px 120px;
    max-width: 1600px;
    width: 100%;
}
#banner h1{
    font-size: 72px;
}

#banner p{
    font-size: 18px;
    color: #cbd5e1;
    max-width: 700px;
    margin: 0 auto 40px auto;
    line-height: 24px;
}

.color{
    color:#38b66c;
}

.btns {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: 30px;
}

.btn-primary, .btn-secondary {
    border: none;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-primary {
    background-color: #4C956C;
    color: white;
    padding: 12px 16px;
}

.btn-primary img{
    padding-left: 5px;
}

.btn-secondary {
    background-color: transparent;
    color: white;
    border: 1px solid rgba(255, 255, 255, 1);
    padding: 12px 16px;
}

.btn-secondary img{
    margin-right: 10px;
}