* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
    padding: 16px 120px;
}

nav .links{
    display: flex;
    gap: 32px;
    list-style: none;
   
}

nav .links a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.btn{
    background-color: #469165;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 12px 16px;
    border-radius: 10px;
    border: none;
}

.early-access {
    display: inline-flex;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid #ffffff81;
    padding: 8px 12px;
    border-radius: 1000px;
    font-size: 14px;
    margin-bottom: 24px;
    color: #30b868;
}

.early-access img{
    margin-right: 6px;
}
#banner{
    background-image: url(./assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    height: 674px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    /**padding: 80px 20px;**/
}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    

.banner-content{
    padding: 16px 120px;
    max-width: 1600px;
    width: 100%;
}
#banner h1{
    font-size: 72px;
}

#banner p{
    font-size: 18px;
    color: #cbd5e1;
    max-width: 700px;
    margin: 0 auto 40px auto;
    line-height: 24px;
}

.color{
    color:#38b66c;
}

.btns {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: 30px;
}

.btn-primary, .btn-secondary {
    border: none;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-primary {
    background-color: #4C956C;
    color: white;
    padding: 12px 16px;
}

.btn-primary img{
    padding-left: 5px;
}

.btn-secondary {
    background-color: transparent;
    color: white;
    border: 1px solid rgba(255, 255, 255, 1);
    padding: 12px 16px;
}

.btn-secondary img{
    margin-right: 10px;
}

.features{
    padding: 80px 80px 0 80px;
    background-color: #ffffff;
}

.container{
    padding: 0 120px;  
}

.features-about{
    text-align: center;
    margin-bottom: 44px;
}

.features-about h2{
    font-size: 48px;
    font-weight: 700;
    color: #0f172a; 
    margin-bottom: 16px;
}

.features-about p{
    font-size: 16px;
    color: #64748b;
    margin: 0 auto;
}


.features-grid{
    display: flex;
    gap: 24px; 
}

.feature-card{
    text-align: center;
    padding: 24px;
    box-shadow: 0 0 8px 0 #00000028;
    border-radius: 8px;
    height: 300px;
}


.icon-box{
    width: 60px;
    height: 60px;
    background-color: #ff5e5e; 
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 24px auto 24px auto;
}

.icon-box img{
    width: 32px;
}

.feature-card h3{
    font-size: 24px;
    font-weight: 600;
    color: #0f172a;
    margin-bottom: 12px;
}

.special{
    white-space: nowrap;
}

.feature-card p{
    font-size: 14px;
    color: #64748b;
    line-height: 1.6;
}

.solution {
    padding: 120px; 

.solution-container {
    
    margin: 0 auto;
    padding: 0 80px;
    display: flex;
    align-items: center;
    gap: 60px; 
}

.solution-image {
    display: flex;
    justify-content: center;
}

.solution-image img {
    height: 600px;
    width: auto;
}

.solution-content h2 {
    font-size: 48px;
    font-weight: 800;
    color: #0f172a;
    line-height: 1.2;
    margin-bottom: 16px;
}

.solution-content p {
    font-size: 16px;
    color: #64748b;
    line-height: 1.6;
}


.solution-list {
    list-style: none;
    padding: 0;
    margin-top: 40px;
}

.solution-list li {
    display: flex; 
    gap: 6px;
    margin-bottom: 16px;
    color: #334155;
    font-size: 16px;
    line-height: 1.5;
}

.list-icon {
    width: 20px;
    height: 20px;
    margin-top: 2px; 
}
