* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

/* Nav Bar */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
}

nav .links{
    display: flex;
    gap: 32px;
    list-style: none;
   
}

nav .links a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}


.btn{
    background-color: #469165;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 12px 16px;
    border-radius: 10px;
    border: none;
}

/* Banner Section */
.early-access {
    display: inline-flex;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid #ffffff81;
    padding: 8px 12px;
    border-radius: 1000px;
    font-size: 14px;
    margin-bottom: 24px;
    color: #30b868;
}

.early-access img{
    margin-right: 6px;
}
#banner{
    background-image: url(./assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    height: 674px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    padding: 70px 120px 120px 120px;
} 
#banner h1{
    font-size: 72px;
}

#banner p{
    font-size: 18px;
    color: #FFFFFF;
    max-width: 700px;
    padding-top: 16px;
    margin: 0 auto 40px auto;
    line-height: 24px;
}

.color{
    color:#38b66c;
}

.btns {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: 30px;
}

.btn-primary, .btn-secondary {
    border: none;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-primary {
    background-color: #4C956C;
    color: white;
    padding: 12px 16px;
}

.btn-primary img{
    padding-left: 5px;
}

.btn-secondary {
    background-color: transparent;
    color: white;
    border: 1px solid #FFFFFF;
    padding: 12px 16px;
}

.btn-secondary img{
    margin-right: 10px;
}

/* Features Section */
.features{
    padding: 0px 120px 0 120px;
    background-color: #ffffff;
}

.features-about{
    text-align: center;
    margin-bottom: 44px;
    margin-top: 40px;
}

.features-about h2{
    font-size: 48px;
    font-weight: 700; 
    margin-bottom: 16px;
}

.features-about p{
    font-size: 16px;
    color: #64748b;
}


.features-grid{
    display: flex;
    gap: 24px; 
}

.feature-card{
    text-align: center;
    padding: 24px;
    box-shadow: 0 0 8px 0 #00000028;
    border-radius: 8px;
    height: 300px;
}


.icon-box{
    width: 60px;
    height: 60px;
    background-color: #ff5e5e; 
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 24px auto 24px auto;
}

.icon-box img{
    width: 32px;
}

.feature-card h3{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 12px;
}

.feature-card p{
    font-size: 14px;
    color: #64748b;
    line-height: 1.6;
}

/* Second Brain Section */

.solution {
    padding: 120px; 
}
.solution-container {
    display: flex;
    align-items: center;
    gap: 60px; 
}

.solution-image {
    display: flex;
    justify-content: center;
    border-radius: 12px;
}

.solution-image img {
    height: 600px;
    width: auto;
}

.solution-content h2 {
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 16px;
    margin-top: 16px;
}

.solution-content p {
    font-size: 16px;
    color: #627382;
    line-height: 1.6;
}


.solution-list {
    list-style: none;
    margin-top: 40px;
}

.solution-list li {
    display: flex; 
    gap: 6px;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}

.list-icon {
    width: 20px;
    height: 20px;
    margin-top: 2px; 
}

/* --- Early Access Section --- */
.early-access-section {
    padding: 0 120px 120px 120px;
}

.early-access-container {
    padding: 80px 40px;
    background-color: #F7F6F2;
    border-radius: 24px;
    text-align: center;
}

.early-access-title {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 16px;
}

.early-access-description {
    font-size: 18px;
    color: #64748b;
    max-width: 600px;
    margin: 0 auto 20px auto;
    line-height: 1.6;
}

/* Button Styling */
.btn-early-access {
    background-color: #4C956C;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.btn-early-access img{
    width: 18px;
}

.early-access-footer {
    font-size: 14px;
    color: #627382;
    margin-top: 16px;
}

/* --- Footer Section --- */
.footer-section {
    background-color: #001931;
    color: white;
    padding: 120px 120px 30px 120px;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}

.footer-logo img {
    width: 139px;
    height: 60px;
}



.social-label {
    display: block;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 16px;
}

.social-icons {
    display: flex;
    gap: 16px;
}

.social-icons img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.footer-bottom {
    text-align: center;
    padding-top: 30px;
    border-top: 1px solid #FFFFFF1A;
}
.footer-bottom p {
    font-size: 16px;
    font-weight: 400;
    color: #fafafade;
}

